<nav class="navbar navbar-light">
    <a class="navbar-brand" (click)="goToProfilePage()">Profile Page</a>

    <div class="row">
        <input class="col form-control" placeholder="Search" #search />
        <button class="col btn btn-outline-success" (click)="filterPosts(search.value)">Search</button>
        <a class="col navbar-brand" (click)="logout()">Log Out</a>
    </div>
</nav>


<div class="main">
    <div class="sidebar">
        <div class="standard-border">
            <h2>New Post</h2>

            <button class="btn btn-outline-success" (click)="fileInput.click()">Add Image</button>
            <input type="file" #fileInput />
            <textarea class="form-control" placeholder="Post body" rows="4" #postBody></textarea>

            <div class="row justify-content-between px-2">
                <button class="col-4 btn btn-outline-success" (click)="postBody.value=''">Cancel</button>
                <button class="col-4 btn btn-outline-success"
                    (click)="addPost(postBody.value); postBody.value=''">Post</button>
            </div>
        </div>


        <div class="standard-border">
            <h2>My Profile</h2>

            <img [src]="profile.image" />
            <div><b>Username:</b> {{profile.username}}</div>
            <div><b>Name:</b> {{profile.displayName}}</div>
            <div><b>Status:</b> {{profile.statusHeadline}}</div>

            <div class="spacer">
                <input class="form-control" placeholder="Update headline" #headline>
                <button class="btn btn-outline-success"
                    (click)="updateHeadline(headline.value); headline.value=''">Update</button>
            </div>
        </div>

        <h2>Followed Users</h2>

        <div class="standard-border" *ngFor="let user of users">
            <img [src]="user.image" />
            <div><b>Username:</b> {{user.username}}</div>
            <div><b>Name:</b> {{user.displayName}}</div>
            <div><b>Status:</b> {{user.statusHeadline}}</div>

            <button class="btn btn-outline-success" (click)="removeUser(user.id)">Remove
                User</button>
        </div>

        <h3>Follow New User</h3>

        <div class="spacer">
            <input class="form-control" placeholder="Add user to following list" #newUser />
            <button class="btn btn-outline-success" (click)="addUser(newUser.value); newUser.value=''">Follow</button>
        </div>

        <div style="height: 5em;"></div>
    </div>

    <div class="posts">
        <app-posts></app-posts>
        <div style="height: 5em;"></div>
    </div>
</div>